<!DOCTYPE html>
<html ng-app="module.dashboard">
    <head>
        <title>Dashboard</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="./js/module.dashboard.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel='stylesheet' type='text/css' href='./public/css/main.css'>
    </head>
    <body ng-controller="DashboardController as dashCtl" class="container">
      <nav class="navbar navbar-default navbar-static-top" id='steel'>
        <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href='/login-register'>Login/Sign Up</a></li>
        </ul>
      </div>
    </nav>


        <h1>Welcome to your dashboard!</h1>
        <p><a href="/logout" class="btn btn-lg btn-danger">Logout</a></p>

        <h3>Shows</h3>

        <ul class='horizontal'>
          <li ng-repeat='show in dashCtl.data.results'>
            <img src='{{show.artwork_304x171}}'><br>
             <!-- <p>{{show.title}}</p> -->
          </li>
        </ul>


        <h3>Search shows</h3>
        <form ng-submit='dashCtl.search()'>
          <input type='text' ng-model='dashCtl.searchText' placeholder='Search for shows'>
          <input type='submit'>
        </form>

        <ul class='horizontal'>
          <li ng-repeat='result in dashCtl.showsResponse' ng-click='dashCtl.showInfo()'>
            <p hidden id='showID'>{{result.id}}</p>
            <img  src='{{result.artwork_304x171}}'>

          </li>
        </ul>


        <br>
        <br>
        <br>
        <br>


    </body>
</html>
