<!DOCTYPE html>
<html ng-app="module.dashboard">
    <head>
        <title>Dashboard</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="./js/module.dashboard.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/abdb64e05b.js"></script>
        <link rel='stylesheet' type='text/css' href='/css/main.css'>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    </head>
    <body ng-controller="DashboardController as dashCtl">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <i class="fa fa-user-secret fa-5x logo" aria-hidden="true"></i>
          <h1 class='title'>showSPY</h1>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href='/login-register'>Login/Sign Up</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>



        <h1>Uncover your entertainment</h1>


        <!-- <h3>Shows</h3>

        <ul class='horizontal'>
          <li ng-repeat='show in dashCtl.data.results'>
            <img src='{{show.artwork_304x171}}'><br> -->
             <!-- <p>{{show.title}}</p> -->
          <!-- </li>
        </ul> -->


        <!-- <a data-toggle="modal" href="#normalModal" class="btn btn-default">Normal</a>
        <div id="normalModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div> -->
            <!-- /.modal-content -->
          <!-- </div> -->
          <!-- /.modal-dialog -->
        <!-- </div> -->

        <h3 ng-click='unhide()'>Search  shows</h3>
        <form ng-submit='dashCtl.search()'>
          <input type='text' ng-model='dashCtl.searchText' placeholder='Search for shows'>
          <input type='submit'>
        </form>


    <div class='container'>
      <div class='row'>
        <ul class='horizontal nobullets'>

          <li ng-repeat='result in dashCtl.showsResponse' ng-click='dashCtl.showInfo(result)'>
            <div class='col-md-4 result'>
            <a data-toggle="modal" href="#normalModal" class="btn btn-default" >
              <img  ng-src='{{result.artwork_304x171}}'>
            </a>
            <div id="normalModal" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>{{result.title}}</h4>
                  </div> -->
                  <div class="modal-body">
                    <!-- <p>One fine body&hellip;</p> -->
                    <img ng-src='{{dashCtl.moreInfo.artwork_304x171}}'>
                    <p>{{dashCtl.moreInfo.overview}}</p>
                    <h5>Where to find it?</h5>
                      <ul>
                        <li ng-repeat='each in dashCtl.showInfoSources'>
                          <p>{{each.display_name}}</p>
                        </li>
                      </ul>
                      <button>Add to my list</button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>

              </div>
            </li>
        </ul>
      </div>
    </div>


         <!-- movies -->
        <h3>Search  movies</h3>
        <form ng-submit='dashCtl.searchMovies()'>
          <input type='text' ng-model='dashCtl.searchMovieText' placeholder='Search for movies'>
          <input type='submit'>
        </form>

    <div class='container'>
      <div class='row'>

        <ul class='horizontal nobullets'>
          <li sytle='list-style-type:none' ng-repeat='result in dashCtl.moviesResponse' ng-click='dashCtl.moviesInfo(result)'>
            <div class='col-md-4 result'>
            <a data-toggle="modal" href="#normalModal" class="btn btn-default" >
              <img  ng-src='{{result.poster_240x342}}'>
            </a>
            <div id="normalModal" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>{{result.title}}</h4>
                  </div> -->
                  <div class="modal-body">
                    <!-- <p>One fine body&hellip;</p> -->
                    <img ng-src='{{dashCtl.movieInfo.poster_240x342}}'>
                    <p>{{dashCtl.movieInfo.overview}}</p>
                    <h4>Where to find it?</h4>
                    <h4>Subscription services:</h4>
                      <ul>
                        <li ng-repeat='each in dashCtl.movieInfo.subscription_web_sources'>
                          <a href='{{each.link}}'><p>{{each.display_name}}</p></a>
                        </li>
                      </ul>
                      <h4>Online stores:</h4>
                        <ul>
                          <li ng-repeat='movie in dashCtl.movieInfo.purchase_web_sources'>
                            <a href='{{movie.link}}'><p>{{movie.display_name}}</p></a>
                          </li>
                        </ul>
                  </div>
                  <button>Add to my list</button>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>

          </div>


            </li>
        </ul>
    </div>
  </div>

        <br>
        <br>
        <br>
        <br>


    </body>
    <footer>
      <p>HIGBIE productions 2017</p>
    </footer>
</html>
