<!DOCTYPE>
<html ng-app='module.auth'>

  <head>
    <title>Discover</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel='stylesheet' type='text/css' href='./public/css/main.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src='/js/auth.js'></script>
  </head>
  <body ng-controller='module.auth.controller as auth'>

    <nav class="navbar navbar-default navbar-static-top" id='steel'>
      <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href='/login-register'>Login/Sign Up</a></li>


      </ul>
    </div>
  </nav>


    <!-- <form class='form-horizontal'>
        <div>
          <label for="email" class='control-label'>Email address:</label>
          <input type="email" id="email">
        </div>
        <div>
          <label for="pwd" class='control-label'>Password:</label>
          <input type="password" id="pwd">
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form> -->

    <h1>HELLO WORLD</h1>

      <form ng-submit="auth.login.submit($event)">
          <h1>Login</h1>
          <fieldset>
              <label>Email</label>
              <input required placeholder="Email" type="email" ng-model="auth.payloads.login.email"/>
          </fieldset>
          <fieldset>
              <label for="password">Password</label>
              <input required placeholder="Password" type="password" ng-model="auth.payloads.login.password"/>
          </fieldset>
          <button type="submit">Login</button>
          <p ng-class="auth.login.alert">{{ auth.login.message }}</p>
      </form>
      <form ng-submit="auth.register.submit($event)">
          <h1>Register</h1>
          <fieldset>
              <label>First Name</label>
              <input required placeholder="'Fred'" type='text' name='first name' ng-model='auth.payloads.register.firstname'/>
            </fieldset>
            <fieldset>
              <label>Email</label>
              <input required placeholder="Email" type="email" ng-model="auth.payloads.register.email"/>
          </fieldset>
          <fieldset>
              <label for="password">Password</label>
              <input required placeholder="Create a password" type="password" ng-model="auth.payloads.register.password"/>
          </fieldset>
          <button type="submit">Register</button>
          <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
      </form>








  </body>

</html>
